@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --bg-color: #232536;
    --green-color: #AEED7F;
    --red-color: #E9563E;
    --orange-color: #FFA500;
    --violet-color: #9E1DF5;
    --scarlet-color: #F53347;
    --blue-color: #1BC0C0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input, textarea, select, button {
    font: inherit;
}

a, a:link, a:visited {
    outline: none;
    text-decoration: none;
}

input, button {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    /*min-height: 100%;*/
    line-height: 1.5;
    /*line-height: 1;*/
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white-color);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scarlet-color);
}

*::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}
/*--------------HEADER---------------*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 10px rgba(255, 138, 0, 0.5);
    z-index: 9999;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    width: 1860px;
}

.header-logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.header-logo-left {
    color: var(--violet-color);
    text-shadow: 0 2px 5px rgba(158, 29, 245, 0.9);
}

.header-logo-right {
    margin-left: 10px;
    color: var(--scarlet-color);
    text-shadow: 0 2px 5px #FF0000;
}

.header-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
}

.header-nav li a {
    display: block;
    min-width: 90px;
    line-height: 56px;
    text-align: center;
    padding-inline: 20px;
    transition: all 0.4s ease;
    color: var(--white-color);
}

.header-nav li a:hover {
    box-shadow: 0 -25px 16px -16px var(--scarlet-color) inset;
    color: var(--scarlet-color);
}

.header-profile {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    height: 56px;
    user-select: none;
    transition: background-color 0.4s ease;
    cursor: pointer;
}

.header-profile:hover {
    background-color: #3b3b50;
}

.header-profile-up-text {
    max-width: 180px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    margin-inline: 15px;
    color: var(--blue-color);
}

.header-profile-down-text {
    max-width: 180px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    margin-inline: 15px;
    font-weight: 700;
    color: var(--red-color);
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px 6px;
    background-position: center;
    background-size: cover;
}

.header-search {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-block: 13px;
}
/*--------------PROFILE MENU---------------*/
.header-profile-menu {
    background-color: var(--bg-color);
    box-shadow:
        -20px -20px 0 -18px var(--violet-color),
        20px 20px 0 -18px var(--violet-color),
        -18px 20px 0 -20px var(--scarlet-color),
        0 0 0 2px var(--scarlet-color);
    position: absolute;
    top: 58px;
    right: 0;
    cursor: default;
    visibility: hidden;
}

.profile-menu-info {
    display: flex;
    align-items: center;
    background-color: #3b3b50;
    width: 300px;
}

.profile-menu-info-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-position: center;
    /*background-size: contain;*/
    background-size: cover;
    margin: 5px 0 5px 5px;
}

.profile-menu-text {
    display: block;
    margin: 5px;
    width: 215px;
}

.profile-menu-nickname {
    font-size: 20px;
    font-weight: 700;
    color: var(--red-color);
}

.profile-menu-email {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.profile-menu-hidden {
    text-align: center;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-block: 10px;
    width: 100%;
}

.profile-menu-button {
    display: flex;
    padding: 0 20px;
    color: #FFFFFF;
}

.profile-menu-button img {
    width: 36px;
    height: 36px;
    margin-block: 6px;
}

.profile-menu-button span {
    font-size: 18px;
    margin-left: 15px;
    line-height: 48px;
    width: 209px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button.profile-menu-button {
    cursor: pointer;
    background: none;
    text-align: left;
}

.profile-menu-button:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.6s ease;
}
/*--------------Search---------------*/
.search {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 90;
    width: 800px;
    height: 80px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6),
    0 3px 15px rgba(255, 0, 0, 0.8);
    visibility: hidden;
}

.search form  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search > form > input {
    width: 75%;
    font-size: 18px;
    border: 1px solid var(--black-color);
    margin-right: 20px;
    padding: 5px 10px;
}

.search > form > input:focus {
    box-shadow: 0 1px 10px rgba(231, 0, 255, 0.6),
    0 1px 15px rgba(140, 0, 255, 0.8);
}

.search form button {
    font-size: 16px;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    border-radius: 3px;
    padding: 8px 30px;
    background: var(--violet-color);
    transition: background-color 0.4s, color 0.4s;
}

.search form button:hover {
    cursor: pointer;
    background-color: var(--red-color);
    color: var(--white-color);
}

.show {
    visibility: visible !important;
}

/*--------------CONTENT ADMIN---------------*/
.content_admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    position: fixed;
    margin-top: 60px;
    width: 280px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.sidebar_name {
    font-size: 24px;
    line-height: 1.8;
    font-weight: 700;
}

.list_name {
    width: 100%;
    line-height: 2.4;
    background-color: var(--scarlet-color);
    color: #FFFFFF;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    line-height: 2.2;
}

.list a {
    width: 100%;
    color: #000;
}

.list a:hover  {
    background: #cccccc;
}

.list_item {
    margin-left: 20px;
}

.list_item_active {
    background-color: var(--green-color) !important;
}

#notification {
    position: fixed;
    padding: 15px;
    background-color: var(--white-color);
    display: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(255, 0, 0);
    bottom: 30px;
    right: 20px;
    color: var(--black-color);
    font-size: 16px;
}

.notification {
    display: block !important;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.content_main {
    margin-top: 100px;
    margin-left: 320px;
    margin-right: 40px;
    width: 1600px;
}
/*--------------ADMIN Static Pages---------------*/

.static_page_cont {
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(65,69,88,0.1),
                0 4px 8px 0 rgba(0,0,0,0.07);
}

.static_page_head {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-color);
    margin-bottom: 10px;
    align-items: center;
}

.static_page_title {
    padding: 10px 15px;
}

.static_page_add_new {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
}

.static_page_add_new:hover {
    color: var(--white-color);
    background-color: var(--red-color);
}

.flat-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-bottom: 2px solid var(--blue-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10),
                0 10px 20px rgba(0, 0, 0, 0.05),
                0 20px 20px rgba(0, 0, 0, 0.05),
                0 30px 20px rgba(0, 0, 0, 0.05);
}

.flat-table td {
    padding: 0 0 0 10px !important;
    text-align: left;
}

.flat-table th, .flat-table td {
    border: none;
    color: #999;
    border-collapse: collapse;
    line-height: 40px;
    padding: 0 0 0 10px;
}

.flat-table tr th {
    padding: 0 !important;
}

.flat-table td a {
    color: #999;
}

.flat-table th {
    background: var(--blue-color);
    color: #000;
}

.flat-table tr:hover {
    background: #e3e2e2;
}

.flat-table tr:hover td, .flat-table tr:hover td a {
    color: #000;
}

.button {
    width: 44px;
}

.button_E {
    background: url("/images_icon/edit.png") no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
    margin: auto;
    cursor: pointer;
}

.button_D {
    background: url("/images_icon/delete.png") no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
    margin: auto;
    cursor: pointer;
}

.button_O {
    background: url("/images_icon/out_book.png") no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
    margin: auto;
    cursor: pointer;
}

.button:hover {
    background-color: var(--orange-color);
}

.fix_width {
    max-width: 200px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
}

.ct {
    width: auto !important;
    padding: 0 !important;
    text-align: center !important;
}
/*--------------ADMIN MODAL WINDOWS---------------*/
.modal_windows {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal_window_content {
    width: 990px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    box-shadow: 0 8px 16px 0 rgba(65,69,88,0.1),
                0 4px 8px 0 rgba(0,0,0,0.07);
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.window_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #ddd;
    border-bottom: 1px solid var(--bg-color);
}

.window_title {
    padding: 10px 15px;
}

.window_close {
    margin: 10px 15px;
    cursor: pointer;
}

.window_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.window_button {
    margin: 0 !important;
    cursor: pointer;
    min-width: 100px;
    line-height: 40px;
    text-align: center;
    background-color: #ddd;
    font-size: 16px;
    font-weight: 700;padding: 0 10px;
}

.button_save:hover {
    background-color: var(--green-color);
    color: var(--black-color);
}

.button_close:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

.window_content {
    padding: 10px 15px;
}

.window_content span {
    font-weight: 700;
}

.window_content form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.window_content form label {
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin: 5px 10px;
}

.window_content form input {
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px solid var(--blue-color);
}
.window_content form select {
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px solid var(--blue-color);
}

.genre_select {
    height: 140px;
}

.window_content form input:focus {
    border-bottom: 1px solid var(--red-color);
}

.window_content form textarea {
    width: 960px;
    min-height: 160px;
    border: solid 1px var(--black-color);
    resize: vertical;
    padding: 10px;
}
/*--------------ADMIN MAIN---------------*/
.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 260px;
    height: 60px;
    color: var(--white-color);
}

.section_icon {
    width: 66px;
    height: 60px;
    box-shadow: 6px 0 6px -6px rgba(0, 0, 0, .6);
}

.section_icon img {
    margin: 5px 8px;
    width: 50px;
    height: 50px;
}

.section_text {
    margin-left: 15px;
    line-height: 24px;
}

.section_text span {
    font-size: 20px;
    font-weight: 700;
}

.section_orange {
    background-color: var(--orange-color);

}

.section_red {
    background-color: var(--red-color);
}

.section_green {
    background-color: var(--green-color);
}

.section_violet {
    background-color: var(--violet-color);
}



















































